.categoryContainer {
  margin-top: var(--spacing-size8);
  padding-left: var(--spacing-size4);
  padding-right: var(--spacing-size4);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  text-align: right;
}
