.chartContainer {
  margin-top: var(--spacing-size2);
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingIcon {
  width: 60px;
  height: 60px;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
